{% extends 'base.html.twig' %}
{% block body %}
    <ul>
        <li><a href="/user/match_ouverts"> Allez vers les matchs Ouverts</a></li>
        <li><a href="/user/mes_paris"> Allez vers vos Paris</a></li>
        <li><a href="/user/deconnexion"> déconnexion</a></li>
    </ul>
{% endblock %}